*/.project
*/.settings/
*/factory/.classpath
*/factory/.project
*/factory/.settings/
*/.settings/
*/bin/
*/*/.classpath
*/*/.project
*/*/.settings/
*/target
*/*/target

*/*/*.iml
*/*/*/*.iml
*/*.iml

*/*/.idea
*/.idea
.idea